In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from seminartools.data import read_inflation
from seminartools.models.four_quarter_average_model import FourQuarterAverageModel

# 1. Read data

In [3]:
df_inflation = read_inflation()
df_inflation

      Country Code  IMF Country Code             Country  yearmonth  inflation
8537           ESP               184               Spain 1970-04-01   0.000000
11635          GTM               258           Guatemala 1970-04-01   0.012577
1231           AUS               193           Australia 1970-04-01   0.011236
7708           DOM               243  Dominican Republic 1970-04-01  -0.001604
21697          NZL               196         New Zealand 1970-04-01   0.015421
...            ...               ...                 ...        ...        ...
16098          KOR               542         Korea, Rep. 2023-01-01   0.010538
15095          JPN               158               Japan 2023-01-01   0.004500
14347          ITA               136               Italy 2023-01-01   0.003938
21470          NOR               142              Norway 2023-01-01   0.006886
30650          ZAF               199        South Africa 2023-01-01   0.011202

[8480 rows x 5 columns]

# 2. AR model per country

In [4]:
model = FourQuarterAverageModel()
model

In [5]:
df_inflation

      Country Code  IMF Country Code             Country  yearmonth  inflation
8537           ESP               184               Spain 1970-04-01   0.000000
11635          GTM               258           Guatemala 1970-04-01   0.012577
1231           AUS               193           Australia 1970-04-01   0.011236
7708           DOM               243  Dominican Republic 1970-04-01  -0.001604
21697          NZL               196         New Zealand 1970-04-01   0.015421
...            ...               ...                 ...        ...        ...
16098          KOR               542         Korea, Rep. 2023-01-01   0.010538
15095          JPN               158               Japan 2023-01-01   0.004500
14347          ITA               136               Italy 2023-01-01   0.003938
21470          NOR               142              Norway 2023-01-01   0.006886
30650          ZAF               199        South Africa 2023-01-01   0.011202

[8480 rows x 5 columns]

In [6]:
from warnings import filterwarnings

filterwarnings('ignore')
model.fit(df_inflation)

# 3. Evaluation

In [7]:
df_inflation["Country"].unique()

array(['Spain', 'Guatemala', 'Australia', 'Dominican Republic',
       'New Zealand', 'Italy', 'Sweden', 'Colombia', 'Paraguay', 'Peru',
       'Belgium', 'Denmark', 'United States', 'Philippines', 'Indonesia',
       'Japan', 'Finland', 'Norway', 'Greece', 'Austria', 'South Africa',
       'France', 'Mauritius', 'Luxembourg', 'Switzerland', 'Singapore',
       'Malaysia', 'Fiji', 'Turkey', 'Netherlands', 'Korea, Rep.',
       'Thailand', 'Canada', 'Ireland', 'Germany', 'United Kingdom',
       'Portugal', 'Cyprus', 'Iceland', 'Argentina'], dtype=object)

In [11]:
model.predict(df_inflation)

    yearmonth             Country  inflation
0  2023-04-01               Spain   0.012473
1  2023-04-01           Guatemala   0.022851
2  2023-04-01           Australia   0.017042
3  2023-04-01  Dominican Republic   0.015884
4  2023-04-01         New Zealand   0.016244
5  2023-04-01               Italy   0.021724
6  2023-04-01              Sweden   0.027374
7  2023-04-01            Colombia   0.031658
8  2023-04-01            Paraguay   0.017170
9  2023-04-01                Peru   0.021416
10 2023-04-01             Belgium   0.017316
11 2023-04-01             Denmark   0.017841
12 2023-04-01       United States   0.014252
13 2023-04-01         Philippines   0.020143
14 2023-04-01           Indonesia   0.012916
15 2023-04-01               Japan   0.009034
16 2023-04-01             Finland   0.020360
17 2023-04-01              Norway   0.016174
18 2023-04-01              Greece   0.014706
19 2023-04-01             Austria   0.025071
20 2023-04-01        South Africa   0.017779
21 2023-04-01              France   0.014623
22 2023-04-01           Mauritius   0.025609
23 2023-04-01          Luxembourg   0.010506
24 2023-04-01         Switzerland   0.007901
25 2023-04-01           Singapore   0.015035
26 2023-04-01            Malaysia   0.008868
27 2023-04-01                Fiji   0.005002
28 2023-04-01              Turkey   0.029445
29 2023-04-01         Netherlands   0.016348
30 2023-04-01         Korea, Rep.   0.011671
31 2023-04-01            Thailand   0.009592
32 2023-04-01              Canada   0.012779
33 2023-04-01             Ireland   0.019404
34 2023-04-01             Germany   0.019997
35 2023-04-01      United Kingdom   0.021838
36 2023-04-01            Portugal   0.019720
37 2023-04-01              Cyprus   0.016132
38 2023-04-01             Iceland   0.024127
39 2023-04-01           Argentina   0.192165

In [ ]:
def plot_forecast(model, country):
    model.predict(country).plot(title=country)

plot_forecast(model, 'Germany')

TypeError: string indices must be integers, not 'str'