In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from seminartools.data import read_inflation

# 1. Read data

In [3]:
df_inflation = read_inflation()
df_inflation

      Country Code  IMF Country Code             Country yearmonth      hcpi
8537           ESP               184               Spain   1970-04  0.000000
11635          GTM               258           Guatemala   1970-04  0.012577
1231           AUS               193           Australia   1970-04  0.011236
7708           DOM               243  Dominican Republic   1970-04 -0.001604
21697          NZL               196         New Zealand   1970-04  0.015421
...            ...               ...                 ...       ...       ...
16098          KOR               542         Korea, Rep.   2023-01  0.010538
15095          JPN               158               Japan   2023-01  0.004500
14347          ITA               136               Italy   2023-01  0.003938
21470          NOR               142              Norway   2023-01  0.006886
30650          ZAF               199        South Africa   2023-01  0.011202

[8480 rows x 5 columns]

# 2. AR model per country