In [1]:
%load_ext autoreload
%autoreload 2

# Random effects model

$y_{i,t} = \alpha_i + \beta_i x_{t-1,i} + \gamma_i w_{t-1} + \epsilon_{t,i}$

$\alpha_i = \alpha_0 + \eta_{\alpha_i}$

$\beta_i = \beta_0 + \eta_{\beta_i}$

$\gamma_i = \gamma_0 + \eta_{\gamma_i}$

$\alpha_0 \sim \mathcal{N}(0, \tau_\alpha)$

$\beta_0 \sim \mathcal{N}(0, \tau_\beta)$

$\gamma_0 \sim \mathcal{N}(0, \tau_\gamma)$

$\eta_{\alpha_i} \sim \mathcal{N}(0, \tau_{\eta_\alpha})$

$\eta_{\beta_i} \sim \mathcal{N}(0, \tau_{\eta_\beta})$

$\eta_{\gamma_i} \sim \mathcal{N}(0, \tau_{\eta_\gamma})$

$\tau_\alpha, \tau_\beta, \tau_\gamma, \tau_{\eta_\alpha}, \tau_{\eta_\beta}, \tau_{\eta_\gamma} \sim \Gamma(1,1)$

In [2]:
import pandas as pd
from seminartools.data import read_inflation, read_merged

In [3]:
df = read_merged()
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Italy,2023-01-01,0.003938,0.552944,3.000000,8.3,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [4]:
from seminartools.models.random_effects_model import RandomEffectsModel

model = RandomEffectsModel()
model

In [5]:
model.formula

'inflation ~ (1 | country) + (0 + gdp_growth_lag_1 | country) + (0 + interest_rate_lag_1 | country) + (0 + unemployment_rate_lag_1 | country) + (0 + commodity_CRUDE_PETRO_lag_1 | country) + (0 + commodity_iNATGAS_lag_1 | country) + (0 + commodity_iAGRICULTURE_lag_1 | country) + (0 + commodity_iMETMIN_lag_1 | country) + (0 + commodity_iPRECIOUSMET_lag_1 | country) + (0 + inflation_lag_1 | country)'

In [6]:
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Italy,2023-01-01,0.003938,0.552944,3.000000,8.3,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [7]:
model.fit(df)

In [8]:
import arviz as az

az.summary(model.results.posterior)

,mean,sd,hdi_3%,hdi_97%,mcse_mean,mcse_sd,ess_bulk,ess_tail,r_hat
inflation_sigma_log__,-5.037,0.016,-5.067,-5.006,0.000,0.000,8281.0,3942.0,1.00
Intercept,0.005,0.001,0.004,0.006,0.000,0.000,1911.0,2437.0,1.00
1|country_sigma_log__,-6.597,0.828,-7.997,-5.409,0.034,0.025,697.0,834.0,1.01
gdp_growth_lag_1|country_sigma_log__,-8.220,0.592,-9.172,-7.334,0.020,0.014,1584.0,1070.0,1.00
interest_rate_lag_1|country_sigma_log__,-7.357,0.210,-7.742,-6.948,0.005,0.004,1620.0,2330.0,1.00
...,...,...,...,...,...,...,...,...,...
inflation_lag_1|country[Sweden],0.365,0.089,0.198,0.528,0.001,0.001,8731.0,4371.0,1.00
inflation_lag_1|country[Switzerland],-0.089,0.156,-0.383,0.195,0.002,0.002,9860.0,4975.0,1.00
inflation_lag_1|country[Türkiye],0.034,0.063,-0.080,0.156,0.001,0.001,6802.0,4370.0,1.00
inflation_lag_1|country[United Kingdom],-0.169,0.141,-0.431,0.097,0.001,0.001,10633.0,4109.0,1.00
inflation_lag_1|country[United States],0.295,0.071,0.162,0.425,0.001,0.001,9080.0,4599.0,1.00

In [9]:
import seaborn as sns
preds = model.predict(df)

preds

                          inflation
2023-04-01 Australia       0.008729
           Belgium         0.011687
           Canada          0.006124
           Denmark         0.005849
           France          0.004544
           Germany         0.009169
           Italy           0.017224
           Japan           0.000163
           Korea           0.003582
           Netherlands     0.006062
           New Zealand     0.007508
           Norway          0.003835
           Portugal        0.000109
           South Africa    0.011228
           Spain           0.003867
           Sweden          0.013436
           Switzerland     0.000871
           United States   0.004793