In [1]:
%load_ext autoreload
%autoreload 2

# Random effects model

$y_{i,t} = \alpha_i + \beta_i x_{t-1,i} + \gamma_i w_{t-1} + \epsilon_{t,i}$

$\alpha_i = \alpha_0 + \eta_{\alpha_i}$

$\beta_i = \beta_0 + \eta_{\beta_i}$

$\gamma_i = \gamma_0 + \eta_{\gamma_i}$

$\alpha_0 \sim \mathcal{N}(0, \tau_\alpha)$

$\beta_0 \sim \mathcal{N}(0, \tau_\beta)$

$\gamma_0 \sim \mathcal{N}(0, \tau_\gamma)$

$\eta_{\alpha_i} \sim \mathcal{N}(0, \tau_{\eta_\alpha})$

$\eta_{\beta_i} \sim \mathcal{N}(0, \tau_{\eta_\beta})$

$\eta_{\gamma_i} \sim \mathcal{N}(0, \tau_{\eta_\gamma})$

$\tau_\alpha, \tau_\beta, \tau_\gamma, \tau_{\eta_\alpha}, \tau_{\eta_\beta}, \tau_{\eta_\gamma} \sim \Gamma(1,1)$

In [2]:
import pandas as pd
from seminartools.data import read_inflation, read_merged

In [3]:
df = read_merged()
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Switzerland,2023-01-01,0.010084,0.309543,1.166667,4.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [4]:
from seminartools.models.random_effects_model import RandomEffectsModel

model = RandomEffectsModel()
model

GPU!!!

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1711466246.365328 3233168 tfrt_cpu_pjrt_client.cc:349] TfrtCpuClient created.

In [5]:
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Switzerland,2023-01-01,0.010084,0.309543,1.166667,4.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [6]:
model.fit(df)

Compiling...
Compilation time = 0:00:02.182363
Sampling...
Sampling time = 0:00:47.427790
Transforming variables...
Transformation time = 0:00:00.758926

In [7]:
import arviz as az

az.summary(model.results.posterior)

arviz - WARNING - Shape validation failed: input_shape: (1, 50000), minimum_shape: (chains=2, draws=4)

,mean,sd,hdi_3%,hdi_97%,mcse_mean,mcse_sd,ess_bulk,ess_tail,r_hat
Intercept,-9.036,0.0,-9.036,-9.036,0.0,0.0,50000.0,50000.0,NaN
gdp_growth_lag_1,0.018,0.0,0.018,0.018,0.0,0.0,50000.0,50000.0,NaN
interest_rate_lag_1,0.556,0.0,0.556,0.556,0.0,0.0,50000.0,50000.0,NaN
unemployment_rate_lag_1,0.902,0.0,0.902,0.902,0.0,0.0,50000.0,50000.0,NaN
commodity_CRUDE_PETRO_lag_1,-0.734,0.0,-0.734,-0.734,0.0,0.0,50000.0,50000.0,NaN
commodity_iNATGAS_lag_1,-0.926,0.0,-0.926,-0.926,0.0,0.0,50000.0,50000.0,NaN
commodity_iAGRICULTURE_lag_1,-0.236,0.0,-0.236,-0.236,0.0,0.0,50000.0,50000.0,NaN
commodity_iMETMIN_lag_1,0.577,0.0,0.577,0.577,0.0,0.0,50000.0,50000.0,NaN
commodity_iPRECIOUSMET_lag_1,-0.603,0.0,-0.603,-0.603,0.0,0.0,50000.0,50000.0,NaN
inflation_lag_1,0.201,0.0,0.201,0.201,0.0,0.0,50000.0,50000.0,NaN
inflation_sigma,0.010,0.0,0.010,0.010,0.0,0.0,50000.0,50000.0,NaN

In [8]:
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Switzerland,2023-01-01,0.010084,0.309543,1.166667,4.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [9]:
import seaborn as sns
preds = model.predict(df)

preds

                          inflation
2023-04-01 Australia      -4.037827
           Canada         -2.295225
           Denmark        -3.676650
           Japan          -6.500873
           Korea          -4.607475
           New Zealand    -3.426623
           Norway         -4.442115
           South Africa   20.183741
           Sweden         -1.251152
           Switzerland    -4.549438
           United States  -3.521810

In [10]:
vec = model._create_lagged_variables(df.reset_index(level = 0)).iloc[-2].T
vec

country                         Switzerland
inflation                          0.010084
gdp_growth                         0.309543
interest_rate                      1.166667
unemployment_rate                       4.4
commodity_CRUDE_PETRO              -0.02041
commodity_iNATGAS                 -0.585458
commodity_iAGRICULTURE             0.002037
commodity_iMETMIN                  0.007418
commodity_iPRECIOUSMET             0.043183
gdp_growth_lag_1                  -0.026666
interest_rate_lag_1                0.666667
unemployment_rate_lag_1                 4.1
commodity_CRUDE_PETRO_lag_1       -0.115091
commodity_iNATGAS_lag_1           -0.355721
commodity_iAGRICULTURE_lag_1       -0.01628
commodity_iMETMIN_lag_1            0.100554
commodity_iPRECIOUSMET_lag_1       0.093372
inflation_lag_1                   -0.000791
Name: 2023-01-01 00:00:00, dtype: object

In [11]:
vec2 = az.summary(model.results.posterior)["mean"]
vec2

arviz - WARNING - Shape validation failed: input_shape: (1, 50000), minimum_shape: (chains=2, draws=4)

Intercept                      -9.036
gdp_growth_lag_1                0.018
interest_rate_lag_1             0.556
unemployment_rate_lag_1         0.902
commodity_CRUDE_PETRO_lag_1    -0.734
commodity_iNATGAS_lag_1        -0.926
commodity_iAGRICULTURE_lag_1   -0.236
commodity_iMETMIN_lag_1         0.577
commodity_iPRECIOUSMET_lag_1   -0.603
inflation_lag_1                 0.201
inflation_sigma                 0.010
Name: mean, dtype: float64

In [12]:
vec = vec[vec.index.to_series().str.endswith("lag_1")].to_frame()
x = vec.merge(az.summary(model.results.posterior)["mean"], how = "left", left_index = True, right_index = True).apply(pd.to_numeric)
x.columns = ["a", "b"]
x["a"] @ x["b"] + az.summary(model.results.posterior)["mean"]["Intercept"]

arviz - WARNING - Shape validation failed: input_shape: (1, 50000), minimum_shape: (chains=2, draws=4)

arviz - WARNING - Shape validation failed: input_shape: (1, 50000), minimum_shape: (chains=2, draws=4)

-4.54833978293911

In [13]:
model.formula

'inflation ~ gdp_growth_lag_1 + interest_rate_lag_1 + unemployment_rate_lag_1 + commodity_CRUDE_PETRO_lag_1 + commodity_iNATGAS_lag_1 + commodity_iAGRICULTURE_lag_1 + commodity_iMETMIN_lag_1 + commodity_iPRECIOUSMET_lag_1 + inflation_lag_1'

In [14]:
az.summary(model.results.posterior)

arviz - WARNING - Shape validation failed: input_shape: (1, 50000), minimum_shape: (chains=2, draws=4)

,mean,sd,hdi_3%,hdi_97%,mcse_mean,mcse_sd,ess_bulk,ess_tail,r_hat
Intercept,-9.036,0.0,-9.036,-9.036,0.0,0.0,50000.0,50000.0,NaN
gdp_growth_lag_1,0.018,0.0,0.018,0.018,0.0,0.0,50000.0,50000.0,NaN
interest_rate_lag_1,0.556,0.0,0.556,0.556,0.0,0.0,50000.0,50000.0,NaN
unemployment_rate_lag_1,0.902,0.0,0.902,0.902,0.0,0.0,50000.0,50000.0,NaN
commodity_CRUDE_PETRO_lag_1,-0.734,0.0,-0.734,-0.734,0.0,0.0,50000.0,50000.0,NaN
commodity_iNATGAS_lag_1,-0.926,0.0,-0.926,-0.926,0.0,0.0,50000.0,50000.0,NaN
commodity_iAGRICULTURE_lag_1,-0.236,0.0,-0.236,-0.236,0.0,0.0,50000.0,50000.0,NaN
commodity_iMETMIN_lag_1,0.577,0.0,0.577,0.577,0.0,0.0,50000.0,50000.0,NaN
commodity_iPRECIOUSMET_lag_1,-0.603,0.0,-0.603,-0.603,0.0,0.0,50000.0,50000.0,NaN
inflation_lag_1,0.201,0.0,0.201,0.201,0.0,0.0,50000.0,50000.0,NaN
inflation_sigma,0.010,0.0,0.010,0.010,0.0,0.0,50000.0,50000.0,NaN