In [50]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Random effects model

$y_{i,t} = \alpha_i + \beta_i x_{t-1,i} + \gamma_i w_{t-1} + \epsilon_{t,i}$

$\alpha_i = \alpha_0 + \eta_{\alpha_i}$

$\beta_i = \beta_0 + \eta_{\beta_i}$

$\gamma_i = \gamma_0 + \eta_{\gamma_i}$

$\alpha_0 \sim \mathcal{N}(0, \tau_\alpha)$

$\beta_0 \sim \mathcal{N}(0, \tau_\beta)$

$\gamma_0 \sim \mathcal{N}(0, \tau_\gamma)$

$\eta_{\alpha_i} \sim \mathcal{N}(0, \tau_{\eta_\alpha})$

$\eta_{\beta_i} \sim \mathcal{N}(0, \tau_{\eta_\beta})$

$\eta_{\gamma_i} \sim \mathcal{N}(0, \tau_{\eta_\gamma})$

$\tau_\alpha, \tau_\beta, \tau_\gamma, \tau_{\eta_\alpha}, \tau_{\eta_\beta}, \tau_{\eta_\gamma} \sim \Gamma(1,1)$

In [51]:
import pandas as pd
from seminartools.data import read_inflation, read_merged

In [52]:
df = read_merged()
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Switzerland,2023-01-01,0.010084,0.309543,1.166667,4.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [53]:
from seminartools.models.random_effects_model import RandomEffectsModel

model = RandomEffectsModel()
model

GPU!!!

In [54]:
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Switzerland,2023-01-01,0.010084,0.309543,1.166667,4.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [55]:
model.fit(df)

NotImplementedError: This method is only implemented for DatetimeIndex, PeriodIndex and TimedeltaIndex; Got type RangeIndex

In [ ]:
model._create_lagged_variables(df).dropna()

                          inflation  gdp_growth  interest_rate  \
country       date
Australia     1978-07-01   0.014851    1.521292      10.273333
              1978-10-01   0.024390    0.826822       8.246667
              1979-01-01   0.019048    2.741603       9.250000
              1979-04-01   0.023364   -1.604232      11.000000
              1979-07-01   0.027397    0.932446      11.166667
...                             ...         ...            ...
United States 2022-01-01   0.022835   -0.497679       0.208333
              2022-04-01   0.029738   -0.141272       0.958333
              2022-07-01   0.013147    0.658619       2.625000
              2022-10-01   0.003669    0.635422       3.791667
              2023-01-01   0.010452    0.556381       4.625000

                          unemployment_rate  commodity_CRUDE_PETRO  \
country       date
Australia     1978-07-01                6.1               0.005499
              1978-10-01                6.1               0.132812
              1979-01-01                6.9               0.518965
              1979-04-01                6.2               0.574347
              1979-07-01                6.0               0.023792
...                                     ...                    ...
United States 2022-01-01                4.1               0.542498
              2022-04-01                3.5               0.039177
              2022-07-01                3.6              -0.244692
              2022-10-01                3.3              -0.115091
              2023-01-01                3.8              -0.020410

                          commodity_iNATGAS  commodity_iAGRICULTURE  \
country       date
Australia     1978-07-01           0.005049                0.010428
              1978-10-01           0.020094                0.007935
              1979-01-01           0.271524                0.050870
              1979-04-01           0.027110                0.097619
              1979-07-01           0.026395                0.009356
...                                     ...                     ...
United States 2022-01-01           0.146272                0.163679
              2022-04-01          -0.028903               -0.029440
              2022-07-01           0.486523               -0.088860
              2022-10-01          -0.355721               -0.016280
              2023-01-01          -0.585458                0.002037

                          commodity_iMETMIN  commodity_iPRECIOUSMET  \
country       date
Australia     1978-07-01           0.086636                0.121854
              1978-10-01           0.032965                0.010470
              1979-01-01           0.156691                0.189010
              1979-04-01           0.016553                0.150838
              1979-07-01           0.028882                0.366724
...                                     ...                     ...
United States 2022-01-01           0.210497                0.093645
              2022-04-01          -0.181045               -0.072004
              2022-07-01          -0.154988               -0.090042
              2022-10-01           0.100554                0.093372
              2023-01-01           0.007418                0.043183

                          gdp_growth_lag_1  interest_rate_lag_1  \
country       date
Australia     1978-07-01          0.823069             9.376667
              1978-10-01          1.521292            10.273333
              1979-01-01          0.826822             8.246667
              1979-04-01          2.741603             9.250000
              1979-07-01         -1.604232            11.000000
...                                    ...                  ...
United States 2022-01-01          1.696772             0.125000
              2022-04-01         -0.497679             0.208333
              2022-07-01         -0.141272             0.958333
              2022-10-01          0.658619             2.625000
              2023-01-01          0.635422             3.791667

                          unemployment_rate_lag_1  \
country       date
Australia     1978-07-01                      6.2
              1978-10-01                      6.1
              1979-01-01                      6.1
              1979-04-01                      6.9
              1979-07-01                      6.2
...                                           ...
United States 2022-01-01                      3.9
              2022-04-01                      4.1
              2022-07-01                      3.5
              2022-10-01                      3.6
              2023-01-01                      3.3

                          commodity_CRUDE_PETRO_lag_1  \
country       date
Australia     1978-07-01                     0.005529
              1978-10-01                     0.005499
              1979-01-01                     0.132812
              1979-04-01                     0.518965
              1979-07-01                     0.574347
...                                               ...
United States 2022-01-01                     0.000916
              2022-04-01                     0.542498
              2022-07-01                     0.039177
              2022-10-01                    -0.244692
              2023-01-01                    -0.115091

                          commodity_iNATGAS_lag_1  \
country       date
Australia     1978-07-01                 0.010201
              1978-10-01                 0.005049
              1979-01-01                 0.020094
              1979-04-01                 0.271524
              1979-07-01                 0.027110
...                                           ...
United States 2022-01-01                 0.325612
              2022-04-01                 0.146272
              2022-07-01                -0.028903
              2022-10-01                 0.486523
              2023-01-01                -0.355721

                          commodity_iAGRICULTURE_lag_1  \
country       date
Australia     1978-07-01                     -0.009780
              1978-10-01                      0.010428
              1979-01-01                      0.007935
              1979-04-01                      0.050870
              1979-07-01                      0.097619
...                                                ...
United States 2022-01-01                      0.042726
              2022-04-01                      0.163679
              2022-07-01                     -0.029440
              2022-10-01                     -0.088860
              2023-01-01                     -0.016280

                          commodity_iMETMIN_lag_1  \
country       date
Australia     1978-07-01                 0.000752
              1978-10-01                 0.086636
              1979-01-01                 0.032965
              1979-04-01                 0.156691
              1979-07-01                 0.016553
...                                           ...
United States 2022-01-01                -0.000837
              2022-04-01                 0.210497
              2022-07-01                -0.181045
              2022-10-01                -0.154988
              2023-01-01                 0.100554

                          commodity_iPRECIOUSMET_lag_1  inflation_lag_1
country       date
Australia     1978-07-01                      0.005753         0.020202
              1978-10-01                      0.121854         0.014851
              1979-01-01                      0.010470         0.024390
              1979-04-01                      0.189010         0.019048
              1979-07-01                      0.150838         0.023364
...                                                ...              ...
United States 2022-01-01                      0.002194         0.015178
              2022-04-01                      0.093645         0.022835
              2022-07-01                     -0.072004         0.029738
              2022-10-01                     -0.090042         0.013147
              2023-01-01                      0.093372         0.003669

[1469 rows x 18 columns]

In [ ]:
import arviz as az

az.summary(model.results.posterior)

arviz - WARNING - Shape validation failed: input_shape: (1, 5000), minimum_shape: (chains=2, draws=4)

,mean,sd,hdi_3%,hdi_97%,mcse_mean,mcse_sd,ess_bulk,ess_tail,r_hat
Intercept,4.130,0.0,4.130,4.130,0.0,0.0,5004.0,5004.0,NaN
gdp_growth,-0.088,0.0,-0.088,-0.088,0.0,0.0,5000.0,5000.0,NaN
interest_rate,0.424,0.0,0.424,0.424,0.0,0.0,5000.0,5000.0,NaN
unemployment_rate,-0.972,0.0,-0.972,-0.972,0.0,0.0,5000.0,5000.0,NaN
commodity_CRUDE_PETRO,-0.988,0.0,-0.988,-0.988,0.0,0.0,5000.0,5000.0,NaN
commodity_iNATGAS,0.689,0.0,0.689,0.689,0.0,0.0,5000.0,5000.0,NaN
commodity_iAGRICULTURE,-0.006,0.0,-0.006,-0.006,0.0,0.0,5000.0,5000.0,NaN
commodity_iMETMIN,0.997,0.0,0.997,0.997,0.0,0.0,5000.0,5000.0,NaN
commodity_iPRECIOUSMET,0.984,0.0,0.984,0.984,0.0,0.0,5000.0,5000.0,NaN
gdp_growth_lag_1,-0.716,0.0,-0.716,-0.716,0.0,0.0,5000.0,5000.0,NaN
interest_rate_lag_1,0.160,0.0,0.160,0.160,0.0,0.0,5000.0,5000.0,NaN
unemployment_rate_lag_1,0.203,0.0,0.203,0.203,0.0,0.0,5000.0,5000.0,NaN
commodity_CRUDE_PETRO_lag_1,-0.048,0.0,-0.048,-0.048,0.0,0.0,5000.0,5000.0,NaN
commodity_iNATGAS_lag_1,-0.881,0.0,-0.881,-0.881,0.0,0.0,5000.0,5000.0,NaN
commodity_iAGRICULTURE_lag_1,0.417,0.0,0.417,0.417,0.0,0.0,5000.0,5000.0,NaN
commodity_iMETMIN_lag_1,-0.513,0.0,-0.513,-0.513,0.0,0.0,5000.0,5000.0,NaN
commodity_iPRECIOUSMET_lag_1,-0.755,0.0,-0.755,-0.755,0.0,0.0,5000.0,5000.0,NaN
inflation_lag_1,0.536,0.0,0.536,0.536,0.0,0.0,5000.0,5000.0,NaN
inflation_sigma,0.004,0.0,0.004,0.004,0.0,0.0,5000.0,5000.0,NaN

In [ ]:
df

,,inflation,gdp_growth,interest_rate,unemployment_rate,commodity_CRUDE_PETRO,commodity_iNATGAS,commodity_iAGRICULTURE,commodity_iMETMIN,commodity_iPRECIOUSMET
country,date,,,,,,,,,
Japan,1977-01-01,0.022951,2.187257,6.333333,2.3,0.00000,0.052425,0.144757,0.041940,0.112740
Canada,1977-01-01,0.023904,1.533830,8.166667,8.8,0.00000,0.052425,0.144757,0.041940,0.112740
United States,1977-01-01,0.017231,1.186233,4.700000,8.2,0.00000,0.052425,0.144757,0.041940,0.112740
Japan,1977-04-01,0.027244,0.703788,5.000000,2.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
Canada,1977-04-01,0.023346,0.510302,7.666667,8.0,-0.00400,0.043586,-0.066688,-0.045412,-0.060029
...,...,...,...,...,...,...,...,...,...,...
Switzerland,2023-01-01,0.010084,0.309543,1.166667,4.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Canada,2023-01-01,0.006080,0.610026,4.500000,5.4,-0.02041,-0.585458,0.002037,0.007418,0.043183
Sweden,2023-01-01,0.014955,0.656897,2.833333,7.8,-0.02041,-0.585458,0.002037,0.007418,0.043183
Korea,2023-01-01,0.010538,0.329875,3.500000,3.2,-0.02041,-0.585458,0.002037,0.007418,0.043183
South Africa,2023-01-01,0.011202,0.406619,7.416667,28.1,-0.02041,-0.585458,0.002037,0.007418,0.043183

In [ ]:
import seaborn as sns
preds = model.predict(df)

#sns.lineplot(data = preds, x= "date", hue = "country", y = "inflation")
preds

                          inflation
2023-04-01 United States   3.031274
           New Zealand     4.206203
           Japan           1.610339
           Norway          3.089224
           Australia       2.095753
           Denmark         1.035223
           Switzerland     1.137003
           Canada          2.313065
           Sweden          0.208101
           Korea           3.566843
           South Africa  -12.697046