In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from seminartools.data import read_inflation
from seminartools.models.sarimax_model import SARIMAXModel

# 1. Read data

In [3]:
df_inflation = read_inflation()
df_inflation

      Country Code  IMF Country Code             Country  yearmonth  inflation
8537           ESP               184               Spain 1970-04-01   0.000000
11635          GTM               258           Guatemala 1970-04-01   0.012577
1231           AUS               193           Australia 1970-04-01   0.011236
7708           DOM               243  Dominican Republic 1970-04-01  -0.001604
21697          NZL               196         New Zealand 1970-04-01   0.015421
...            ...               ...                 ...        ...        ...
16098          KOR               542         Korea, Rep. 2023-01-01   0.010538
15095          JPN               158               Japan 2023-01-01   0.004500
14347          ITA               136               Italy 2023-01-01   0.003938
21470          NOR               142              Norway 2023-01-01   0.006886
30650          ZAF               199        South Africa 2023-01-01   0.011202

[8480 rows x 5 columns]

# 2. AR model per country

In [4]:
model = SARIMAXModel()
model

In [5]:
df_inflation

      Country Code  IMF Country Code             Country  yearmonth  inflation
8537           ESP               184               Spain 1970-04-01   0.000000
11635          GTM               258           Guatemala 1970-04-01   0.012577
1231           AUS               193           Australia 1970-04-01   0.011236
7708           DOM               243  Dominican Republic 1970-04-01  -0.001604
21697          NZL               196         New Zealand 1970-04-01   0.015421
...            ...               ...                 ...        ...        ...
16098          KOR               542         Korea, Rep. 2023-01-01   0.010538
15095          JPN               158               Japan 2023-01-01   0.004500
14347          ITA               136               Italy 2023-01-01   0.003938
21470          NOR               142              Norway 2023-01-01   0.006886
30650          ZAF               199        South Africa 2023-01-01   0.011202

[8480 rows x 5 columns]

In [6]:
from warnings import filterwarnings

filterwarnings('ignore')
model.fit(df_inflation)

In [7]:
for country, order in model.orders.items():
    print(f"Order for {country}: {order}")

Order for Spain: (2, 2)
Order for Guatemala: (1, 1)
Order for Australia: (1, 1)
Order for Dominican Republic: (1, 3)
Order for New Zealand: (1, 3)
Order for Italy: (1, 1)
Order for Sweden: (2, 3)
Order for Colombia: (3, 3)
Order for Paraguay: (1, 1)
Order for Peru: (1, 1)
Order for Belgium: (1, 1)
Order for Denmark: (3, 2)
Order for United States: (1, 3)
Order for Philippines: (3, 2)
Order for Indonesia: (3, 1)
Order for Japan: (2, 3)
Order for Finland: (3, 2)
Order for Norway: (3, 2)
Order for Greece: (2, 3)
Order for Austria: (2, 2)
Order for South Africa: (3, 3)
Order for France: (3, 2)
Order for Mauritius: (2, 3)
Order for Luxembourg: (2, 3)
Order for Switzerland: (3, 3)
Order for Singapore: (2, 1)
Order for Malaysia: (2, 2)
Order for Fiji: (3, 3)
Order for Turkey: (2, 3)
Order for Netherlands: (3, 3)
Order for Korea, Rep.: (2, 3)
Order for Thailand: (3, 2)
Order for Canada: (3, 3)
Order for Ireland: (3, 3)
Order for Germany: (3, 3)
Order for United Kingdom: (2, 3)
Order for Portugal: (2, 1)
Order for Cyprus: (2, 3)
Order for Iceland: (1, 3)
Order for Argentina: (1, 2)

In [8]:
model.models["Belgium"].summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:              inflation   No. Observations:                  212
Model:               SARIMAX(1, 0, 1)   Log Likelihood                 783.915
Date:                Tue, 12 Mar 2024   AIC                          -1561.831
Time:                        11:33:42   BIC                          -1551.761
Sample:                    06-30-1970   HQIC                         -1557.761
                         - 03-31-2023
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          0.9734      0.019     51.838      0.000       0.937       1.010
ma.L1         -0.5084      0.060     -8.527      0.000      -0.625      -0.392
sigma2      3.558e-05   2.32e-06     15.357      0.000     3.1e-05    4.01e-05
===================================================================================
Ljung-Box (L1) (Q):                   0.16   Jarque-Bera (JB):                69.40
Prob(Q):                              0.69   Prob(JB):                         0.00
Heteroskedasticity (H):               1.24   Skew:                            -0.24
Prob(H) (two-sided):                  0.37   Kurtosis:                         5.76
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

# 3. Evaluation

In [9]:
df_inflation["Country"].unique()

array(['Spain', 'Guatemala', 'Australia', 'Dominican Republic',
       'New Zealand', 'Italy', 'Sweden', 'Colombia', 'Paraguay', 'Peru',
       'Belgium', 'Denmark', 'United States', 'Philippines', 'Indonesia',
       'Japan', 'Finland', 'Norway', 'Greece', 'Austria', 'South Africa',
       'France', 'Mauritius', 'Luxembourg', 'Switzerland', 'Singapore',
       'Malaysia', 'Fiji', 'Turkey', 'Netherlands', 'Korea, Rep.',
       'Thailand', 'Canada', 'Ireland', 'Germany', 'United Kingdom',
       'Portugal', 'Cyprus', 'Iceland', 'Argentina'], dtype=object)

In [10]:
model.predict(df_inflation)

    yearmonth             Country  inflation
0  2023-04-01               Spain   0.014738
1  2023-04-01           Guatemala   0.012757
2  2023-04-01           Australia   0.014847
3  2023-04-01  Dominican Republic   0.014805
4  2023-04-01         New Zealand   0.012543
5  2023-04-01               Italy   0.017014
6  2023-04-01              Sweden   0.017067
7  2023-04-01            Colombia   0.014110
8  2023-04-01            Paraguay   0.014418
9  2023-04-01                Peru   0.013606
10 2023-04-01             Belgium   0.011233
11 2023-04-01             Denmark   0.009469
12 2023-04-01       United States   0.013043
13 2023-04-01         Philippines   0.014750
14 2023-04-01           Indonesia   0.008839
15 2023-04-01               Japan   0.007129
16 2023-04-01             Finland   0.018509
17 2023-04-01              Norway   0.009918
18 2023-04-01              Greece   0.022097
19 2023-04-01             Austria   0.023083
20 2023-04-01        South Africa   0.016209
21 2023-04-01              France   0.013834
22 2023-04-01           Mauritius   0.015575
23 2023-04-01          Luxembourg   0.010235
24 2023-04-01         Switzerland   0.008610
25 2023-04-01           Singapore   0.008254
26 2023-04-01            Malaysia   0.005358
27 2023-04-01                Fiji   0.008793
28 2023-04-01              Turkey   0.052532
29 2023-04-01         Netherlands   0.001898
30 2023-04-01         Korea, Rep.   0.006661
31 2023-04-01            Thailand   0.002526
32 2023-04-01              Canada   0.013684
33 2023-04-01             Ireland   0.017708
34 2023-04-01             Germany   0.017463
35 2023-04-01      United Kingdom   0.018673
36 2023-04-01            Portugal   0.017177
37 2023-04-01              Cyprus   0.012433
38 2023-04-01             Iceland   0.011499
39 2023-04-01           Argentina   0.138777

In [11]:
def plot_forecast(model, country):
    model.predict(country).plot(title=country)

plot_forecast(model, "Germany")

TypeError: string indices must be integers, not 'str'