In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
from seminartools.data import read_inflation
from seminartools.models.sarimax_model import SARIMAXModel

# 1. Read data

In [4]:
df_inflation = read_inflation()
df_inflation

      Country Code  IMF Country Code             Country yearmonth  inflation
8537           ESP               184               Spain   1970-04   0.000000
11635          GTM               258           Guatemala   1970-04   0.012577
1231           AUS               193           Australia   1970-04   0.011236
7708           DOM               243  Dominican Republic   1970-04  -0.001604
21697          NZL               196         New Zealand   1970-04   0.015421
...            ...               ...                 ...       ...        ...
16098          KOR               542         Korea, Rep.   2023-01   0.010538
15095          JPN               158               Japan   2023-01   0.004500
14347          ITA               136               Italy   2023-01   0.003938
21470          NOR               142              Norway   2023-01   0.006886
30650          ZAF               199        South Africa   2023-01   0.011202

[8480 rows x 5 columns]

# 2. AR model per country

In [6]:
model = SARIMAXModel()
model

In [7]:
df_inflation

      Country Code  IMF Country Code             Country yearmonth  inflation
8537           ESP               184               Spain   1970-04   0.000000
11635          GTM               258           Guatemala   1970-04   0.012577
1231           AUS               193           Australia   1970-04   0.011236
7708           DOM               243  Dominican Republic   1970-04  -0.001604
21697          NZL               196         New Zealand   1970-04   0.015421
...            ...               ...                 ...       ...        ...
16098          KOR               542         Korea, Rep.   2023-01   0.010538
15095          JPN               158               Japan   2023-01   0.004500
14347          ITA               136               Italy   2023-01   0.003938
21470          NOR               142              Norway   2023-01   0.006886
30650          ZAF               199        South Africa   2023-01   0.011202

[8480 rows x 5 columns]

In [9]:
from warnings import filterwarnings

filterwarnings('ignore')
model.fit(df_inflation)

In [1]:
for country, order in model.orders.items():
    print(f"Order for {country}: {order}")

NameError: name 'model' is not defined

# 3. Evaluation

In [11]:
def plot_forecast(model, country):
    model.forecast(country).plot(title=country)

plot_forecast(model, 'Germany')

AttributeError: 'SARIMAXModel' object has no attribute 'forecast'