In [ ]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
from seminartools.data import read_merged

In [6]:
df = read_merged().reset_index()
countries = (df["country"].unique())

# get distances and coordinates

In [7]:
# calling the Nominatim tool and create Nominatim class
loc = Nominatim(user_agent="Geopy Library")

# entering the location name
getLocA = loc.geocode("Netherlands")
getLocB = loc.geocode("Belgium")

geodesic((getLocA.latitude, getLocA.longitude), (getLocB.latitude, getLocB.longitude)).km

190.62990457385075

In [8]:
from seminartools.utils import geo_distance

geo_distance("Netherlands", "Belgium", use_geopy=True)

190.62990457385075

In [9]:
geo_distance("Netherlands", "Belgium")

173.0333

In [10]:
#get longitude and latitude of countries
loca = pd.DataFrame()
for country in countries:
    location = loc.geocode(country)
    frame = pd.DataFrame({'longitude': location.longitude, 'latitude': location.latitude}, index = [country])
    loca = pd.concat([loca,frame], axis = 0)
loca

                 longitude   latitude
Japan           139.239418  36.574844
Canada         -107.991707  61.066692
United States  -100.445882  39.783730
Australia       134.755000 -24.776109
New Zealand     172.834408 -41.500083
Switzerland       8.231974  46.798562
Italy            12.674297  42.638426
France            1.888334  46.603354
Portugal         -8.135352  39.662165
Spain            -4.837979  39.326068
Sweden           14.520858  59.674971
Denmark          10.333328  55.670249
United Kingdom   -3.276575  54.702354
Germany          10.447831  51.163818
Netherlands       5.634323  52.243498
Norway           11.528036  64.573154
Belgium           4.666715  50.640281
Korea           127.696119  36.638392
South Africa     24.991639 -28.816624
Türkiye          34.924965  38.959759