In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [120]:
from seminartools.data import read_inflation, read_commodity, read_gdp_growth, read_interest_rate, read_unemployment

dfs = {
    'inflation': read_inflation(mergeable_format=True),
    'commodity': read_commodity(mergeable_format=True),
    'gdp_growth': read_gdp_growth(mergeable_format=True),
    'interest_rate': read_interest_rate(mergeable_format=True),
    'unemployment': read_unemployment(mergeable_format=True),
}

In [126]:
dfs["unemployment"].sort_index()

                     unemployment_rate
country  date
Albania  2012-01-01               12.8
         2012-04-01               13.5
         2012-07-01               13.1
         2012-10-01               14.1
         2013-01-01               14.3
...                                ...
Zimbabwe 2022-04-01               10.5
         2022-07-01               11.6
         2022-10-01                9.6
         2023-01-01                8.0
         2023-04-01                8.8

[6875 rows x 1 columns]

In [101]:
dfs["interest_rate"].sort_index(level = 0).sort_index(level = 1)

                           interest_rate
country        date
Belgium        1970-01-01       7.500000
Canada         1970-01-01       8.000000
Denmark        1970-01-01       9.000000
France         1970-01-01       8.000000
Germany        1970-01-01       6.500000
...                                  ...
Switzerland    2023-10-01       1.750000
Thailand       2023-10-01       2.500000
Türkiye        2023-10-01      39.166667
United Kingdom 2023-10-01       5.250000
United States  2023-10-01       5.375000

[6095 rows x 1 columns]