In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
from seminartools.data import read_inflation, read_commodity, read_gdp_growth, read_interest_rate, read_unemployment

dfs = {
    'inflation': read_inflation(mergeable_format=True),
    'commodity': read_commodity(mergeable_format=True),
    'gdp_growth': read_gdp_growth(mergeable_format=True),
    'interest_rate': read_interest_rate(mergeable_format=True),
    'unemployment': read_unemployment(mergeable_format=True),
}
dfs

{'inflation':                                inflation
 country            date
 Portugal           1970-04-01   0.000000
 New Zealand        1970-04-01   0.015421
 Dominican Republic 1970-04-01  -0.001604
 Finland            1970-04-01   0.008333
 Ireland            1970-04-01   0.029871
 ...                                  ...
 Canada             2023-01-01   0.006080
 Sweden             2023-01-01   0.014955
 Korea, Rep.        2023-01-01   0.010538
 United Kingdom     2023-01-01   0.008814
 South Africa       2023-01-01   0.011202

 [7420 rows x 1 columns],
 'commodity':             CRUDE_PETRO   iNATGAS  iAGRICULTURE   iMETMIN  iPRECIOUSMET
 Date
 1977-06-30    -0.004000  0.048957      0.060253 -0.015513      0.034181
 1977-09-30     0.014458  0.024351     -0.168953  0.007186     -0.008558
 1977-12-31     0.003959  0.005943     -0.014905  0.025185      0.086795
 1978-03-31    -0.001577  0.152425      0.061453  0.025733      0.099905
 1978-06-30     0.003423  0.010253      0.047387 -0.012512      0.011074
 ...                 ...       ...           ...       ...           ...
 2022-06-30     0.139550  0.135169      0.056731 -0.053899     -0.009453
 2022-09-30    -0.124227  0.575553     -0.104614 -0.198048     -0.089689
 2022-12-31    -0.115829 -0.354909     -0.019967  0.009510      0.017380
 2023-03-31    -0.072852 -0.513011      0.002985  0.097998      0.086122
 2023-06-30    -0.009537 -0.262369      0.000304 -0.067625      0.062581

 [185 rows x 5 columns],
 'gdp_growth': Period      Australia   Austria   Belgium    Canada     Chile  Colombia  \
 1947-04-01        NaN       NaN       NaN       NaN       NaN       NaN
 1947-07-01        NaN       NaN       NaN       NaN       NaN       NaN
 1947-10-01        NaN       NaN       NaN       NaN       NaN       NaN
 1948-01-01        NaN       NaN       NaN       NaN       NaN       NaN
 1948-04-01        NaN       NaN       NaN       NaN       NaN       NaN
 ...               ...       ...       ...       ...       ...       ...
 2022-10-01   0.854933 -0.109469  0.242596 -0.215348  0.134982 -1.636127
 2023-01-01   0.533364  0.091308  0.413039  0.610026  0.546959  2.171743
 2023-04-01   0.438743 -1.109172  0.332990  0.338964 -0.348738 -0.988247
 2023-07-01   0.211980 -0.518956  0.381116 -0.266630  0.331248  0.238780
 2023-10-01        NaN  0.230333  0.420257  0.300000       NaN       NaN

 Period      Costa Rica   Czechia   Denmark   Estonia  ...    Brazil  Bulgaria  \
 1947-04-01         NaN       NaN       NaN       NaN  ...       NaN       NaN
 1947-07-01         NaN       NaN       NaN       NaN  ...       NaN       NaN
 1947-10-01         NaN       NaN       NaN       NaN  ...       NaN       NaN
 1948-01-01         NaN       NaN       NaN       NaN  ...       NaN       NaN
 1948-04-01         NaN       NaN       NaN       NaN  ...       NaN       NaN
 ...                ...       ...       ...       ...  ...       ...       ...
 2022-10-01    2.252222 -0.355478  0.129033 -1.436173  ... -0.116739  0.585075
 2023-01-01   -0.584824  0.113500  0.906018 -0.777569  ...  1.439727  0.349776
 2023-04-01    2.504614  0.080160 -0.699459 -0.600577  ...  0.984869  0.412767
 2023-07-01    1.286147 -0.631639 -0.652085 -1.293712  ...  0.144535  0.396863
 2023-10-01    1.781322  0.232706       NaN -0.365528  ...       NaN       NaN

 Period      China (People's Republic of)   Croatia    India  Indonesia  \
 1947-04-01                           NaN       NaN      NaN        NaN
 1947-07-01                           NaN       NaN      NaN        NaN
 1947-10-01                           NaN       NaN      NaN        NaN
 1948-01-01                           NaN       NaN      NaN        NaN
 1948-04-01                           NaN       NaN      NaN        NaN
 ...                                  ...       ...      ...        ...
 2022-10-01                           0.6  0.283145  1.14099   2.336994
 2023-01-01                           2.1  0.881596  2.08053   0.837339
 2023-04-01                           0.6  1.490864  1.88750   0.866408
 2023-07-01                           1.5  0.285880  1.73614   0.809230
 2023-10-01                           1.0       NaN      NaN        NaN

 Period       Romania  Russia  Saudi Arabia  South Africa
 1947-04-01       NaN     NaN           NaN           NaN
 1947-07-01       NaN     NaN           NaN           NaN
 1947-10-01       NaN     NaN           NaN           NaN
 1948-01-01       NaN     NaN           NaN           NaN
 1948-04-01       NaN     NaN           NaN           NaN
 ...              ...     ...           ...           ...
 2022-10-01  1.223659     NaN      1.164417     -1.094064
 2023-01-01 -0.804894     NaN     -1.116411      0.406619
 2023-04-01  1.548405     NaN     -0.505205      0.457335
 2023-07-01  0.887211     NaN     -3.176124     -0.247545
 2023-10-01       NaN     NaN      0.400000           NaN

 [307 rows x 56 columns],
 'interest_rate':             Argentina  Australia   Belgium  Brazil    Canada  Switzerland  \
 Date
 1970-03-31        NaN        NaN  7.500000     NaN  8.000000     3.750000
 1970-06-30        NaN        NaN  7.500000     NaN  7.500000     3.750000
 1970-09-30        NaN        NaN  7.500000     NaN  6.833333     3.750000
 1970-12-31        NaN        NaN  6.833333     NaN  6.166667     3.750000
 1971-03-31        NaN        NaN  6.333333     NaN  5.500000     3.750000
 ...               ...        ...       ...     ...       ...          ...
 2022-12-31       75.0   2.850000       NaN   13.75  3.916667     0.666667
 2023-03-31       76.0   3.350000       NaN   13.75  4.500000     1.166667
 2023-06-30       95.0   3.850000       NaN   13.75  4.583333     1.583333
 2023-09-30      111.0   4.100000       NaN   13.25  5.000000     1.750000
 2023-12-31      122.0   4.266667       NaN   12.25  5.000000     1.750000

             Chile     China   Colombia   Czechia  ...   Romania    Serbia  \
 Date                                              ...
 1970-03-31    NaN       NaN        NaN       NaN  ...       NaN       NaN
 1970-06-30    NaN       NaN        NaN       NaN  ...       NaN       NaN
 1970-09-30    NaN       NaN        NaN       NaN  ...       NaN       NaN
 1970-12-31    NaN       NaN        NaN       NaN  ...       NaN       NaN
 1971-03-31    NaN       NaN        NaN       NaN  ...       NaN       NaN
 ...           ...       ...        ...       ...  ...       ...       ...
 2022-12-31  11.25  3.650000  11.333333  7.000000  ...  6.583333  4.500000
 2023-03-31  11.25  3.650000  12.833333  7.000000  ...  7.000000  5.500000
 2023-06-30  11.25  3.616667  13.166667  7.000000  ...  7.000000  6.083333
 2023-09-30  10.00  3.483333  13.250000  7.000000  ...  7.000000  6.500000
 2023-12-31   8.75  3.450000  13.166667  6.916667  ...  7.000000  6.500000

                Russia  Saudi Arabia    Sweden  Thailand    Türkiye  \
 Date
 1970-03-31        NaN           NaN  7.000000       NaN        NaN
 1970-06-30        NaN           NaN  7.000000       NaN        NaN
 1970-09-30        NaN           NaN  7.000000       NaN        NaN
 1970-12-31        NaN           NaN  7.000000       NaN        NaN
 1971-03-31        NaN           NaN  6.833333       NaN        NaN
 ...               ...           ...       ...       ...        ...
 2022-12-31   7.500000      4.416667  2.250000  1.166667   9.500000
 2023-03-31   7.500000      5.250000  2.833333  1.583333   8.666667
 2023-06-30   7.500000      5.666667  3.333333  1.833333  10.666667
 2023-09-30  11.166667      6.000000  3.833333  2.250000  24.166667
 2023-12-31  15.333333      6.000000  4.000000  2.500000  39.166667

             United States  Euro area  South Africa
 Date
 1970-03-31       8.460000        NaN           NaN
 1970-06-30       7.376667        NaN           NaN
 1970-09-30       6.083333        NaN           NaN
 1970-12-31       4.876667        NaN           NaN
 1971-03-31       3.960000        NaN           NaN
 ...                   ...        ...           ...
 2022-12-31       3.791667   1.916667      6.750000
 2023-03-31       4.625000   3.000000      7.416667
 2023-06-30       5.041667   3.750000      8.083333
 2023-09-30       5.375000   4.250000      8.250000
 2023-12-31       5.375000   4.500000      8.250000

 [216 rows x 46 columns],
 'unemployment':             Albania  Argentina  Armenia  Australia  Austria  Belgium  \
 Quarter
 1948-01-01      NaN        NaN      NaN        NaN      NaN      NaN
 1948-04-01      NaN        NaN      NaN        NaN      NaN      NaN
 1948-07-01      NaN        NaN      NaN        NaN      NaN      NaN
 1948-10-01      NaN        NaN      NaN        NaN      NaN      NaN
 1949-01-01      NaN        NaN      NaN        NaN      NaN      NaN
 ...             ...        ...      ...        ...      ...      ...
 2022-10-01      NaN        6.3      NaN        3.3      5.0      5.6
 2023-01-01      NaN        6.9      NaN        3.9      5.7      5.6
 2023-04-01      NaN        6.2      NaN        3.5      5.1      5.4
 2023-07-01      NaN        NaN      NaN        3.6      5.2      5.6
 2023-10-01      NaN        NaN      NaN        NaN      NaN      NaN

             Bangladesh  Bulgaria  Bosnia and Herzegovina  Belize  ...  \
 Quarter                                                           ...
 1948-01-01         NaN       NaN                     NaN     NaN  ...
 1948-04-01         NaN       NaN                     NaN     NaN  ...
 1948-07-01         NaN       NaN                     NaN     NaN  ...
 1948-10-01         NaN       NaN                     NaN     NaN  ...
 1949-01-01         NaN       NaN                     NaN     NaN  ...
 ...                ...       ...                     ...     ...  ...
 2022-10-01         4.9       3.9                    11.9     5.0  ...
 2023-01-01         NaN       4.4                    11.1     NaN  ...
 2023-04-01         NaN       4.6                    10.2     2.8  ...
 2023-07-01         NaN       4.1                    10.6     NaN  ...
 2023-10-01         NaN       NaN                     NaN     NaN  ...

             Türkiye  Taiwan, China  Uruguay  United States  \
 Quarter
 1948-01-01      NaN            NaN      NaN            4.4
 1948-04-01      NaN            NaN      NaN            3.8
 1948-07-01      NaN            NaN      NaN            3.6
 1948-10-01      NaN            NaN      NaN            3.3
 1949-01-01      NaN            NaN      NaN            5.5
 ...             ...            ...      ...            ...
 2022-10-01      NaN            NaN      7.9            3.3
 2023-01-01      NaN            NaN      8.4            3.8
 2023-04-01      NaN            NaN      8.5            3.4
 2023-07-01      NaN            NaN      NaN            3.8
 2023-10-01      NaN            NaN      NaN            3.5

             Venezuela, Bolivarian Republic of  Viet Nam  Yemen  South Africa  \
 Quarter
 1948-01-01                                NaN       NaN    NaN           NaN
 1948-04-01                                NaN       NaN    NaN           NaN
 1948-07-01                                NaN       NaN    NaN           NaN
 1948-10-01                                NaN       NaN    NaN           NaN
 1949-01-01                                NaN       NaN    NaN           NaN
 ...                                       ...       ...    ...           ...
 2022-10-01                                NaN       1.4    NaN          27.8
 2023-01-01                                NaN       1.5    NaN          28.1
 2023-04-01                                NaN       1.6    NaN          28.5
 2023-07-01                                NaN       1.7    NaN          27.9
 2023-10-01                                NaN       NaN    NaN          27.5

             Zambia  Zimbabwe
 Quarter
 1948-01-01     NaN       NaN
 1948-04-01     NaN       NaN
 1948-07-01     NaN       NaN
 1948-10-01     NaN       NaN
 1949-01-01     NaN       NaN
 ...            ...       ...
 2022-10-01     3.9       9.6
 2023-01-01     NaN       8.0
 2023-04-01     NaN       8.8
 2023-07-01     NaN       NaN
 2023-10-01     NaN       NaN

 [304 rows x 101 columns]}

In [36]:
dfs["inflation"]

                               inflation
country            date
Portugal           1970-04-01   0.000000
New Zealand        1970-04-01   0.015421
Dominican Republic 1970-04-01  -0.001604
Finland            1970-04-01   0.008333
Ireland            1970-04-01   0.029871
...                                  ...
Canada             2023-01-01   0.006080
Sweden             2023-01-01   0.014955
Korea, Rep.        2023-01-01   0.010538
United Kingdom     2023-01-01   0.008814
South Africa       2023-01-01   0.011202

[7420 rows x 1 columns]